version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: skinme_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Veha0508@!
      MYSQL_DATABASE: skinme_db
      MYSQL_USER: skinme_user
      MYSQL_PASSWORD: Veha0508@!
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10
      start_period: 30s

volumes:
  mysql_data:
